<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h1>Vue 上手</h1>
    <h2>render函数</h2>
    <div id="app">
        <child :level='level'>
            我是蜡笔小新
        </child>
    </div>

    <!-- <template id='hdom'>
        <div>
            <h1 v-if='level===1'>
                <slot></slot>
            </h1>
            <h2 v-if='level===2'>
                <slot></slot>
            </h2>
            <h3 v-if='level===3'>
                <slot></slot>
            </h3>
        </div>
    </template> -->
    <script>
        // 使用 Vue 组件定义
        // Vue.component('child', {
        //     props: ['level'],
        //     template: '#hdom'
        // })

        // 使用 render 函数进行定义组件
        Vue.component('child',{
            props: ['level'],
            render: function(createElement){
                return createElement('h' + this.level, this.$slots.default)
            }
        })
        var app = new Vue({
            el: '#app',
            data: {
                level: 2,
            }
        })
    </script>
</body>

</html>